.tasksFilter {
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
    left: 0;
}
@media (max-width: 430px) {
    .tasksFilter {
        bottom: 10px;
    }
}
.tasksFilter__item {
    display: inline;
    cursor: default;
}
